body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.main-container {
    max-width: 60%;
    margin: auto;
    text-align: left;
}

.main-container:first-child {
    margin-top: 4vw;
    font-size: 1vw;
    color: slategray;
}

.main-container h1 {
    color: black;
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 3vw;
}

.iconify-inline {
    color: #424242;
    font-size: 1.5vw;
}

#container1 p {
    display: inline-block;
    font-size: 1vw;
    margin-left: 0.2vw;
    margin-right: 2vw;
}

.main-container p {
    font-size: 1.6vw;
    color: #424242;
    text-align: left;
}

h3 {
    font-weight: bold;
    font-size: 1.6vw;
    color: black;
    text-align: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#tag {
    margin-left: 1vw;
    display: inline-block;
    color: slategray;
    font-size: 1.2vw;
}

.respons2 {
    display: none;
}

table {
    width: 100%;
    height: 4.5vw;
    font-size: 1.2vw;
    color: white;
}

th {
    border: 0.4vw solid white;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.2vw;
    vertical-align: middle;
    margin-left: 2vw;
    border-radius: 12%;
}

.intro2 {
    display: none;
}

.intro1 {
    width: 96%;
    background-color: #F0F0F2;
    padding: 4% 2% 4% 2%;
    margin-top: 2vw;
}

.avatar-img {
    width: 8vw;
    height: 9vw;
    border-radius: 100%;
    margin-right: 2.5vw;
}

.intro1 p {
    display: inline;
    color: slategray;
    font-size: 1.5vw;
}

#intro-titr {
    font-size: 2.4vw;
    font-weight: bold;
    color: black;
}

#intro-post {
    font-weight: bold;
    color: black;
}

.prev-next {
    width: 60vw;
    margin: auto;
    padding-top: 2vw;
}

.prev div {
    alignment: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 0.5vw;
}

.prev p:first-of-type {
    font-size: 1.4vw;
    color: darkgray;
}

.prev p:last-of-type {
    color: black;
    font-size: 1vw;
}

.next div {
    child-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 0.5vw;
}

.next p:first-of-type {
    text-align: right;
    font-size: 1.4vw;
    color: darkgray;
}

.next p:last-of-type {
    color: black;
    font-size: 1vw;
}

.iconify {
    display: inline-block;
    vertical-align: middle;
}

.divider {
    border: 0.1vw solid darkgrey;
    margin: 0.5vw 0;
}

.divider2 {
    border: 0.1vw solid gainsboro;
    margin: 2vw 0;

}

.comment {
    line-height: 0.3vw;
}

.comment h4:first-of-type {
    margin-top: 1vw;
    font-size: 1.2vw;
    text-align: left;
    display: inline-block;
    color: black;
}

.comment h4:last-of-type {
    margin-top: 1vw;
    font-size: 1vw;
    text-align: left;
    display: inline-block;
    color: dodgerblue;
}

@media screen and (max-width: 600px) {
    .main-container {
        max-width: 80%;
    }

    .main-container:first-child {
        margin-top: 2vw;
        font-size: 2vw;
    }

    .main-container h1 {
        font-size: 7vw;
        margin-bottom: 3vw;
    }

    #container1 {
        font-size: 1vw;
        text-align: center;
    }

    #container1 p {
        font-size: 3vw;
        margin-left: 0.5vw;
        margin-right: 14vw;
    }

    .iconify-inline {
        color: #424242;
        font-size: 3vw;
    }

    .main-container p {
        font-size: 3vw;
        color: #424242;
        text-align: left;
    }

    h3 {
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #tag {
        margin-left: 2vw;
        font-size: 2vw;
    }

    .respons1 {
        display: none;
    }

    .respons2 {
        display: inline-block;
        width: 50%;
    }

    table {
        width: 100%;
        text-align: center;
        height: 5vw;
        font-size: 2vw;
        color: white;
    }

    th {
        border: 1vw solid white;
        padding: 1vw 1vw 1vw 1.2vw;
        margin: 2vw;
        border-radius: 80%;
    }

    .intro1 {
        display: none;
    }

    .intro2 {
        display: block;
        width: 96%;
        background-color: #F0F0F2;
        padding: 2% 2% 2% 2%;
        margin-top: 2vw;
        background-color: #F0F0F2;
        text-align: center;
    }

    .avatar-img {
        width: 30vw;
        height: 30vw;
        border-radius: 100%;
        margin-right: 2.5vw;
    }

    #intro2-titr {
        font-size: 5vw;
        color: black;
    }

    .intro2 p {
        font-size: 3vw;
        text-align: center;
        color: slategray;
    }

    #intro2-post {
        display: inline-block;
        font-size: 3.2vw;
        padding: 0.5vw 0;
    }

    .prev-next {
        width: 100%;
        padding-top: 2vw;
    }

    .prev div {
        line-height: 0.5vw;
    }

    .prev p:first-of-type {
        font-size: 3vw;
    }

    .prev p:last-of-type {
        font-size: 2vw;
    }

    .next div {
        line-height: 0.5vw;
    }

    .next p:first-of-type {
        font-size: 3vw;
    }

    .next p:last-of-type {
        font-size: 2vw;
    }
    .comment {
        line-height: 0.6vw;
    }

    .comment h4:first-of-type {
        font-size: 2.5vw;
    }

    .comment h4:last-of-type {
        font-size: 2vw;
    }
}