body {
    font-family: 'Open Sans', sans-serif;
}
.main-container {
    width: 600px;
    margin: auto;
    text-align: left;
}
.main-container:first-child {
    margin-top: 40px;
    font-size: 8px;
    color: slategray;
}
.main-container h1 {
    color: black;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 30px;
}
#container1 p {
    display: inline-block;
    margin-left: 2px;
    margin-right: 20px;
}
.main-container p {
    font-size: 14px;
    color: #424242;
    text-align: left;
}
div h3:first-of-type {
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tag {
    margin-left: 5px;
    display: inline-block;
    color: slategray;
    font-size: 10px;
}

table{
    width: 100%;
    height: 45px;
    font-size: 12px;
    color: white;
}
th {
    border: 4px solid white;
    text-align: left;
    padding-left:10px ;
    padding-bottom: 2px;
    vertical-align:middle;
    margin-left: 20px;
    border-radius: 12%;
}

.intro {
    width: 558px;
    background-color:#F0F0F2;
    padding: 20px;
    margin-top: 20px;
}
.avatar-img{
    width: 80px;
    height: 90px;
    border-radius: 100%;
    margin-right: 25px;
}

.intro p{
    display:inline;
    color: slategray;
    font-size: 12px;
}
#intro-titr {
    font-size: 24px ;
    font-weight: bold ;
    color: black;
}
#intro-post {
    font-weight: bold;
    color: black;
}
.prev-next {
    width: 600px;
    margin: auto ;
    padding-top: 20px;
}
.prev div {
    alignment: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 5px;
}
.prev p:first-of-type {
    font-size: 14px;
    color: darkgray;
}
.prev p:last-of-type {
    color: black;
    font-size:10px;
}

.next div {
    child-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 5px;
}
.next p:first-of-type {
    text-align:right;
    font-size: 14px;
    color: darkgray;
}
.next p:last-of-type {
    color: black;
    font-size:10px;
}
.iconify {
    display: inline-block;
    vertical-align: middle;
}
.divider {
    border:1px solid darkgrey;
    margin: 5px 0;
}
.divider2 {
    border:1px solid gainsboro;
    margin: 20px 0;

}
.comment {
    line-height: 3px
}
.comment h4:first-of-type{
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    color: black;
}
.comment h4:last-of-type{
    margin-top: 10px;
    font-size: 10px;
    text-align: left;
    display: inline-block;
    color: dodgerblue;
}